@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-default: white;
    --color-other: gray;
    --color-accent: skyblue;
    --color-primary: dodgerblue;
    --color-success: limegreen;
    --color-danger: darkred;
}