<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="htmx-config" content='{"defaultSwapStyle":"outerHTML"}'>

    <title>Djumbo {{ title }}</title>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/response-targets.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/remove-me.js"></script>

    <link href="/static/output.css" rel="stylesheet">
</head>
<body class="bg-gray-800">
    <div class="flex">
        <!-- Sidebar for desktop -->
        {% block westside %}
        <div class="hidden lg:block bg-black h-screen w-64">

            <img src="/static/djumbo.png" alt="Logo" class="mx-auto mt-5 w-24 h-24 object-contain">
            <div class="flex justify-center mt-4">
                <div class="relative text-white text-3xl font-sans">
                    <span class="tracking-widest">jumbo</span>
                    <span class="absolute inset-x-0 top-0 flex items-end justify-center text-4xl -mt-3 -ml-24">D</span>
                </div>
            </div>

            <ul class="p-6">
                <li><a href="/" class="text-blue-300 hover:text-blue-500 block">Home</a></li>
                {% if login %}
                <li><a href="/welcome" class="text-blue-300 hover:text-blue-500 block">Welcome</a></li>
                <li><a href="/debug" class="text-blue-300 hover:text-blue-500 block">Debug</a></li>
                <li><a href="/logout" hx-post="/logout" class="text-blue-300 hover:text-blue-500 block">Logout</a></li>
                {% else %}
                <li><a href="/login" class="text-blue-300 hover:text-blue-500 block">Login</a></li>
                <li><a href="/register" class="text-blue-300 hover:text-blue-500 block">Register</a></li>
                {% endif %}
                <li><a href="/link?page_name=Test.md" class="text-blue-300 hover:text-blue-500 block">Test</a></li>
                <li><a href="/about" class="text-blue-300 hover:text-blue-500 block">About</a></li>
            </ul>

            <ul class="px-6">
                <li><a href="https://postgrest.org/en/v12/tutorials/tut0.html" class="text-blue-300 hover:text-blue-500 block">PostgREST</a></li>
            </ul>

            <ul class="p-6">
                <li><a href="/admin?list=couriers&page=1" class="text-blue-300 hover:text-blue-500 block">Couriers</a></li>
                <li><a href="/admin?list=channels&page=1" class="text-blue-300 hover:text-blue-500 block">Channels</a></li>
                <li><a href="/admin?list=shipments&page=1" class="text-blue-300 hover:text-blue-500 block">Shipments</a></li>
                <li><a href="/admin?list=orders&page=1" class="text-blue-300 hover:text-blue-500 block">Orders</a></li>
                <li><a href="/admin?list=merchants&page=1" class="text-blue-300 hover:text-blue-500 block">Merchants</a></li>
                <li><a href="/admin?list=ticker&page=1" class="text-blue-300 hover:text-blue-500 block">Ticker</a></li>
                <li><a href="/admin?list=todos&page=1" class="text-blue-300 hover:text-blue-500 block">Todos</a></li>
            </ul>
        </div>
        {% endblock %}
        <!-- Main content area -->
        <div class="mt-5 p-6 w-full">
            {% block content %}

            {% endblock %}
        </div>
        <!-- Right sidebar for desktop -->
        {% block eastside %}
        {% endblock %}
    </div>

</body>
</html>