<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markdown Styles Reference</title>
    <link href="/static/tailwind.css" rel="stylesheet">
    <link href="/static/output.css" rel="stylesheet">
</head>
<body>
    <!-- markdown generated apply for tailwind -->
    <div class="markdown">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
        <p>Paragraph text.</p>
        <ul>
            <li>List item 1</li>
            <li>List item 2</li>
        </ul>
        <ol>
            <li>Ordered list item 1</li>
            <li>Ordered list item 2</li>
        </ol>
        <blockquote>Blockquote text.</blockquote>
        <pre><code>Code block</code></pre>
        <kbd>Keyboard input</kbd>
        <table>
            <tr>
                <th>Table Header</th>
                <td>Table Data</td>
            </tr>
        </table>
        <a href="#">Link text</a>
        <strong>Strong text</strong>
    </div>

    <!-- sql generated apply for tailwind-->
    <table>
        <tr><td class="pagination">Pages<a class="text-primary hover:text-accent">1</a>of<a class="hover:text-accent">2</a></td></tr>
    </table>
</body>
</html>